a {
    text-decoration: none;
    color: rgb(6, 84, 9);
}

/*стиль body*/

body {
    width: 86vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: wheat;
}

.title1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(205, 75, 9);
}


/*стили блока Как вы можете помочь*/
.help {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 1em auto 2em auto;
    padding: auto;
}

.help-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    gap: 1em;
}

.money {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 12rem;
}

.volunteer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 12rem;
}

.media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 12rem;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 12rem;
}

.title-help {
    font-size: large;
    color: rgb(173, 100, 10);
}

.title2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.media1 {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

@media (min-width:1024px) {

}